// Binary Files
*.dll
*.exe
*.userprefs
*.zip

// Dub Files
dub.selections.json

// Intellij Files
.idea
*.iml
**/target/*

// Visual Studio Files
*.csproj
*.pdb
*.sln
*.suo
*.user
**/.vs/*
**/bin/*
**/obj/*

// Specific Files and Folders
d/fakecas/config/server.ini
