body {
	background-color: black;
	color: white;
}

.header-cont {
	width: 100%;
	position: fixed;
	top: 0px;
}

.content {
	position: center;
	margin: 90px;
}

table, tr, th, td {
	background-color: black;
	border: 2px solid white;
	border-collapse: collapse;
}

th, td {
	padding: 10px
}
